* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #fff;
}

.button {
  width: 30px;
  height: 30px;
  border: solid black 2px;
  display: block;
}

.colorSwitcher {
  float: right;
}

#gray {
  background-color: gray;
}

#orange {
  background-color: orange;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}
